/*

    Pearl Lin
    6.4.2023

    Styling for index.html

*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*********** TITLE STYLING *****************/

.title {
    text-align: center;
    margin-bottom: 75px;
}

.title h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin: 20px;
}

.title h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 30px 20px 40px 20px;
}

/************ ICON STYLING ****************/

.title img {
    height: 250px;
}

/**************** LOGIN AND REGISTER BUTTONS STYLING ****************/

.loginRegister {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginRegister a {
    text-decoration: none;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    margin: 0px 15px 0px 15px;
    padding: 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loginRegister a:hover {
    background-color: #EEEEEE;
}