h1 {
    color: green;
}


.flashMessage {
    height: 100px;
    border: 1px solid green;
}

.flashError {
    height: 100px;
    border: 1px solid red;
}

li {
    list-style-type: none;
}

.list {
    padding: 25px;
    border: 1px solid blue;
}