<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="exploreThemesStyle.css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <div class="fixedTopLeft">
            <div class="fixedUsername">
                <%=username%>
                <input type="button" class="dropdown" value="▼">
            </div>
            <div class="dropdownList">
                <a href="/landing">My Tasks</a>
                <a href="/settings">Settings</a>
                <a href="/explore-themes">Explore Themes</a>
                <a href="/logout">Log out</a>
            </div>
        </div>

        <div class="themes">
            <% let themes = ['Standard', 'Tropical', 'Midnight', 'Aurora', 'Lemonade', 'Europa', 'Terracotta', 'Galaxy', 'Alice', 'Summer']; %>
            <% for (let i = 0; i < themes.length; i++) { %>
                <div class="theme <%=themes[i]%>">
                    <h1><%=themes[i]%></h1>
                    <div class="colorArray">
                        <div class="color1"></div>
                        <div class="color2"></div>
                        <div class="color3"></div>
                        <div class="color4"></div>
                        <div class="color5"></div>
                    </div>
                    
                    <div class="toDos">
                        <div class="list">
                            <input type="text" class="listTitle" value="Untitled">
                            <form class="addToDoContain">
                                <input type="text" name="task" placeholder="Todo" class="addToDoInput">
                                <input type="submit" class="addToDoBtn" value="Add" disabled>
                            </form>
                            <ul class="taskList">
                                <li>
                                    <div class="toDoContain">
                                        <input type="checkbox" class="toDoCheckbox" name="isDone">
                                        <label for="isDone">An example task</label>
                                    </div>
                                    <input type="button" class="removeToDoBtn" value="×">
                                </li>
                            </ul>
                            <div class="deleteListContain">
                                <input type="button" class="deleteList" value="Delete">
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            

            
        </div>
        
        <script>
            $(document).ready(function() {
                $(document).on('click', '.dropdown', function(e) {
                    e.preventDefault();

                    if ($('.dropdown').hasClass('dropdownOpen')) {
                        $('.dropdown').removeClass('dropdownOpen');
                        $('.dropdownList').removeClass('dropdownOpen');
                        $('.dropdown').val('▼');
                    }
                    else {
                        $('.dropdown').addClass('dropdownOpen');
                        $('.dropdownList').addClass('dropdownOpen');
                        $('.dropdown').val('▲');
                    }
                });

                $(document).on('change', '.toDoCheckbox', function(e) {
                    e.preventDefault();
                    let li = $(this).closest('li');

                    if (this.checked) {
                        $(this).next('label').css('text-decoration', 'line-through');
                    }
                    else {
                        $(this).next('label').css('text-decoration', 'none');
                    }
                });
            });
        </script>
    </body>
</html>